.container {
    display: flex;
    flex-direction: column;
    .settings-container {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

    }
    app-server {
        margin: 16px;
    }
}