.container {
    display: flex;
    flex-direction: column;
    .settings-container {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

    }
    .servers-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        app-server {
            margin: 16px;
        }
    }
}